<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CAShapeLayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49FDF4281B61897A006C56D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FDF4411B61897A006C56D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FDF44C1B61897A006C56D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
